*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
  background: #a80038;

}

/*navbar*/
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header
{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

header .brand
{
    color: #000;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation
{
    position: relative;
}

header .navigation .navigation-items a
{
    position: relative;
    color: #000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:before
{
    content: '';
    position: absolute;
    background: #f70d38;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover::before
{
    width: 100%;
}


.home
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #f70d38;
}

.home:before
{
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(59, 37, 42, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content
{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top:50px;
}

.home .content h1
{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}



.home .content a
{
    background: #fff;
    padding: 15px 35px;
    color: #141313;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

@media (max-width: 1040px)
{
    header
    {
        padding: 12px 20px;
    }

    section
    {
        padding: 100px 20px;
    }

    .home .media-icons
    {
        right: 15px;
    }
    header .navigation
    {
       display: none;
    }
    
    header .navigation.active
    {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    header .navigation .navigation-items a
    {
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }

    header .navigation .navigation-items a:before
    {
        background: #222;
        height: 5px;
    }

    header .navigation.active .navigation-items
    {
        background: #fff;
        width: 400px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1, 1, 1/ 20%);
        opacity: 65%;
    }

    .menu-btn
    {
        background: url(images/home/menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;

    } 

    .menu-btn.active
    {
        z-index: 999;
        background: url(images/home/close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }
}
/*navbar end*/
/********** Responsive Design ********/
@media(max-width:900px)
{
  .row{
    flex-direction: column;
  }
  .col{
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
  }
}
@media(max-width:768px)
{
  .row{
    flex-direction: column;
  }
  .col{
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
}  

footer{
    background: yellow;
    height: auto;
    width: auto;
    font-family:"Open Sans";
    padding-top: 40px;
    color: black;
    margin-top: auto;
  }
  .footer-content{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
  }
  .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
  }
  .media{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
  .media li{
    margin: 0 10px;
  }
  .media a{
    text-decoration: none;
    color: #a80038;
  }
  .media a i{
    font-size: 1.1rem;
    transition: color .4s ease;
  }
  .media a:hover i{
    color: green;
  }
  .footer-bottom{
    background: #a80038;
    width: auto;
    padding: 20px 0;
    text-align: center;   
  }
  .footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: #fff;
  }
  .footer-bottom span{
    opacity: .4;
    font-weight: 200;
  }
/* card */
a{
  text-decoration: none;
}
.containerOf{
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.card-main{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card{
  background: #fff;
  flex: 1 1 21rem;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  opacity:0.85;
  align-self: normal;
  margin: 10px 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.card img{
  max-width: 100px;
}
.card h4{
  font-size: 1.3rem;
  text-decoration: uppercase;
  margin: 10px 0;
}
.card .btn{
  display: inline-block;
  background: green;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
}
@media(max-width:900px)
{
.card-main{
  flex-direction: column;
   text-align: center;
   margin-top:70px;
  
}
.card{
  width: 100%;
  text-align: center;
  margin: 10px;
  
}
}   
@media (max-width: 500px)
{
  .bgimage{
    background-image: none;
  }
}